# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

## Day 018 作業1：The Split-Apply-Combine Strategy

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/地區的累計確診人數，並列出所有資料筆數。

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

計算計算每個國家/地區的累計確診人數

【提示】可使用 groupby 相關的函式

In [3]:
ECA = by(df,:Country_Region,Active = :Active=>length)

181×2 DataFrame
│ Row │ Country_Region       │ Active │
│     │ String               │ Int64  │
├─────┼──────────────────────┼────────┤
│ 1   │ US                   │ 2312   │
│ 2   │ Canada               │ 15     │
│ 3   │ United Kingdom       │ 10     │
│ 4   │ China                │ 33     │
│ 5   │ Netherlands          │ 5      │
│ 6   │ Australia            │ 8      │
│ 7   │ Denmark              │ 3      │
│ 8   │ France               │ 10     │
│ 9   │ Afghanistan          │ 1      │
│ 10  │ Albania              │ 1      │
⋮
│ 171 │ Turkey               │ 1      │
│ 172 │ Uganda               │ 1      │
│ 173 │ Ukraine              │ 1      │
│ 174 │ United Arab Emirates │ 1      │
│ 175 │ Uruguay              │ 1      │
│ 176 │ Uzbekistan           │ 1      │
│ 177 │ Venezuela            │ 1      │
│ 178 │ Vietnam              │ 1      │
│ 179 │ West Bank and Gaza   │ 1      │
│ 180 │ Zambia               │ 1      │
│ 181 │ Zimbabwe             │ 1      │

In [4]:
# 顯示所有資料
show(ECA)

181×2 DataFrame
│ Row │ Country_Region       │ Active │
│     │ String               │ Int64  │
├─────┼──────────────────────┼────────┤
│ 1   │ US                   │ 2312   │
│ 2   │ Canada               │ 15     │
│ 3   │ United Kingdom       │ 10     │
│ 4   │ China                │ 33     │
│ 5   │ Netherlands          │ 5      │
│ 6   │ Australia            │ 8      │
│ 7   │ Denmark              │ 3      │
│ 8   │ France               │ 10     │
│ 9   │ Afghanistan          │ 1      │
│ 10  │ Albania              │ 1      │
⋮
│ 171 │ Turkey               │ 1      │
│ 172 │ Uganda               │ 1      │
│ 173 │ Ukraine              │ 1      │
│ 174 │ United Arab Emirates │ 1      │
│ 175 │ Uruguay              │ 1      │
│ 176 │ Uzbekistan           │ 1      │
│ 177 │ Venezuela            │ 1      │
│ 178 │ Vietnam              │ 1      │
│ 179 │ West Bank and Gaza   │ 1      │
│ 180 │ Zambia               │ 1      │
│ 181 │ Zimbabwe             │ 1      │

## 作業2：請列出美國各區域或事件 (依 Province_State 欄) 的累積確診、死亡、康復人數。

【提示】使用 Split-Apply-Combine Strategy 時，有幾種不同的函式可以使用，請參照 `DataFrames.jl` 官方文件 [https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby](https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby)

In [5]:
d = groupby(df, :Country_Region)
d[("US",)][:,[:Province_State,:Active,:Deaths,:Recovered]]

2312×4 DataFrame
│ Row  │ Province_State           │ Active │ Deaths │ Recovered │
│      │ Union{Missing, String}   │ Int64  │ Int64  │ Int64     │
├──────┼──────────────────────────┼────────┼────────┼───────────┤
│ 1    │ South Carolina           │ 0      │ 0      │ 0         │
│ 2    │ Louisiana                │ 0      │ 1      │ 0         │
│ 3    │ Virginia                 │ 0      │ 0      │ 0         │
│ 4    │ Idaho                    │ 0      │ 3      │ 0         │
│ 5    │ Iowa                     │ 0      │ 0      │ 0         │
│ 6    │ Missouri                 │ 0      │ 0      │ 0         │
│ 7    │ Oklahoma                 │ 0      │ 0      │ 0         │
│ 8    │ Colorado                 │ 0      │ 2      │ 0         │
│ 9    │ Idaho                    │ 0      │ 0      │ 0         │
│ 10   │ Illinois                 │ 0      │ 0      │ 0         │
⋮
│ 2302 │ California               │ 0      │ 0      │ 0         │
│ 2303 │ Arizona                  │ 0      │ 0      │ 0         │
│ 2304 │ Colorado                 │ 0      │ 0      │ 0         │
│ 2305 │ Diamond Princess         │ 0      │ 0      │ 0         │
│ 2306 │ Grand Princess           │ 0      │ 3      │ 0         │
│ 2307 │ Guam                     │ 0      │ 3      │ 0         │
│ 2308 │ Northern Mariana Islands │ 0      │ 1      │ 0         │
│ 2309 │ Puerto Rico              │ 0      │ 12     │ 0         │
│ 2310 │ Recovered                │ 0      │ 0      │ 9001      │
│ 2311 │ Virgin Islands           │ 0      │ 0      │ 0         │
│ 2312 │ Wyoming                  │ 0      │ 0      │ 0         │